/*fonts*/
@font-face{
    font-family: WorkSans;
    src: url("../fonts/WorkSans-Regular.ttf");
    font-weight: 500; 
}
@font-face{
    font-family: WorkSans;
    src: url("../fonts/WorkSans-SemiBold.ttf");
    font-weight: 600; 
}
@font-face{
    font-family: WorkSans;
    src: url("../fonts/WorkSans-Bold.ttf");
    font-weight: 700; 
}
@font-face{
    font-family: MyriadPro;
    src: url("../fonts/MyriadPro-Regular.otf");
    font-weight: 500; 
}
@font-face{
    font-family: MyriadPro;
    src: url("../fonts/MyriadPro-Semibold.otf");
    font-weight: 600; 
}
@font-face{
    font-family: MyriadPro;
    src: url("../fonts/MyriadPro-Bold.otf");
    font-weight: 700; 
}
@font-face{
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: 700; 
}
@font-face{
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 500; 
}
::placeholder{
    color: #cfcfd2;
    font-style: italic;
}
:root {
  --cl : #41aedf;
}

/*main CSS*/
 header select option{
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    background: var(--cl);
    border: none;
 }
 header select{
  color: #fff;
    font-family: Roboto;
    font-size: 12px;
    background: var(--cl);
    border: none;
 }
 .header{
  padding-left: 0 !important;
  padding-right: 0 !important;
 }
 .header .logo{
  padding-left: 0 !important;
  padding-right: 0 !important;
 }
 header .blue-head .container div{
    float:left;
    display: inline-block; 
 }
 header .blue-head div span{
    color: #b3dff2;
    font-size: 12px;
    font-family: WorkSans;
 }
  header .blue-head div img{ 
    margin-right: 20px;
  }
  header .blue-head div:nth-child(2){
    margin-left: 30px;
  }
 header .blue-head{
    background: var(--cl);  
    width: 100%;
    overflow-y: hidden; 
    padding: 6px 0px;
 }
 .blue-head .container{
  padding-left: 0;
  padding-right: 0;
 }
 header .blue-head .container div:last-child{
    float:right;
 }
  header .blue-head .languages{
    border: none;
    background: var(--cl);
    color: #fff;
    font-size: 12px;
  }
  .header div{
    display: inline-block;
  }
  #bs-example-navbar-collapse-1{
    padding-left: 0;
  }
  .search-part input{
    display: inline-block; 
    background-repeat: no-repeat;
    background-position: 97% 51%;
    outline: none;
    border: 1px solid #cfcfd2;
    width: 320px;
    border-radius: 50px;
    padding: 5px 30px 5px 17px;
    font-size: 14px;
  }
  .search-part button{
        display: inline-block;
    position: absolute;
    top: 0px;
    padding: 13px;
    right: -33px; 
    background: url(../img/search-icon.png);
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 6px 9px;
    border: none;
    cursor: pointer;
  }
  .header{
    padding: 30px 0px;
    background:#fff;
  }
  .header a{ 
    padding: 10px 20px;
    color: #616161 !important;
    font-family: MyriadPro; 
    font-weight: 400;

  }
  .header a:last-child{
    padding: 10px 50px;
    letter-spacing: 0.5;
  }
  a{
    text-decoration: none !important;
    transition: all 0.3s;
  } 
  .header a:hover{
    color: #fff !important;
    border-radius:50px;
    background:#78be51;
  }
  .header .login{
    text-align: right;
    padding-top: 5px;
    padding-right: 0 !important;
  }
  .navbar{
    margin-bottom: 0 !important;
  }
  nav{
    background-color: #fff !important;
    border: none !important;
    border-top: 1px solid var(--cl) !important;
  } 
  nav .container{
    padding-left: 0;
    padding-right: 0; 
  }
  nav ul{
    margin-left: -15px !important;
  }
  nav ul li{ 
    padding: 0px 1px;
    transition: all 0.1s;
  }
  nav ul #bir:after{
    content: "";
    position: absolute;
    left: 0px;
    z-index: 1000;
    width: 1px;
    top: 37%;
    height: 12;
    border-left: 1px solid transparent;

  }
  #bir a{ 
  }
  nav ul li:after{
    content: "";
    position: absolute;
    left: -1px;
    z-index: 1000;
    width: 1px;
    top: 37%;
    height: 12;
    border-left: 1px solid #dbdbdd;

  }
  nav ul li a{
    font-family: Roboto;
    color: #616161 !important;
    font-size: 16px;
  }  
  nav ul li:hover{
    background:var(--cl);
    border-radius: 0px 0px 15px 15px;
    
  }
  nav ul li:hover a{
    color: #fff !important;
  }
  .nav>li>a{
    padding: 10px 18px !important;
  }
  .enter{
        height: 695px;
    overflow: hidden;
  }
  .enter .slider .items{
    height: 432px;
    overflow-y: hidden;
  }
  .enter .owl-carousel .owl-nav button.owl-next,
  .enter .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #898989;
    width: 20px;
    height: 60px;
    outline: none;
  }
  .owl-carousel .owl-nav button.owl-next{
    right: 40px;

  } 
  .enter .owl-two .owl-nav button:hover{
    background: transparent !important;

  }
  .owl-carousel .owl-nav button.owl-prev{
    left: 40px;
  }
  .slider .M-CARD{
    display: block;
    padding: 0;
    margin:0;  
    position: absolute;
    top:20%;
    left: 53%;
  }
  .slider .M-CARD div:nth-child(1){
    background:var(--cl);
    overflow-x: hidden;
    color: #fff;
    display: inline-block;
    padding: 10px 35px;
    font-size: 32px;
    font-weight: 600;
    font-family: MyriadPro;
    margin-bottom: 11px;
  }
  .slider .M-CARD div:nth-child(2){
    background:rgba(255,255,255,0.8);
    overflow-x: hidden;
    color: #454545; 
    padding: 20px 35px;
    letter-spacing: 1;
    font-size: 18px;
    font-weight: 600;
    font-family: MyriadPro;
    margin-bottom: 18px;
  }
  .slider .M-CARD div:nth-child(3){
    float: right;
    display: inline-block;
  }
  .slider .M-CARD div:nth-child(3) button{
    color: #fff;
    font-size: 16px;
    font-family: MyriadPro;
    background: #78be51;
    border-radius: 50px;
    border: none;
    font-weight: 500;
    letter-spacing: 1px; 
    padding: 13px 45px; 
  } 
  .sec-slide{
    height: 280px;
    max-width: 1180px;
    position: relative;
    top: -50px;
    z-index: 100;
    margin: auto;
    background: var(--cl);
  }
  .sec-slide div.d:nth-child(1){
    width: 50%;
    display: inline-block;
  }
  .sec-slide div.d:nth-child(2){
    width: 44%;
    float: right;
    height: 280px;
    overflow: hidden;
    display: inline-block;
    background: var(--cl);
    border-left: 1px solid #30a0d2; 
  }
  .d1>div:nth-child(1){
    width: 38%; 
    overflow: hidden;
    height: auto;
    display: inline-block;
  } 
  .d1 div:nth-child(2){
    text-align: left;
    width: 60%; 
    height: auto;
    display: inline-block;
  } 
  .sec-slide .d1 h1{
    font-family: MyriadPro;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
  }
  .sec-slide .d1 p{
    font-family: MyriadPro;
    font-size: 16px;
    color: #fff;
    top: 3px;
    letter-spacing: 1;
  }
  .sec-slide .d1 button{
    position: relative;
    top: 23px;
    background: transparent;
    outline: none;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 1;
  }
  .d .slider .items{
    height: 281px;
    border: 7px solid var(--cl);

    background: #87888e;
  }
  .d .owl-carousel .owl-nav button.owl-next,
  .d .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    border-radius: 0;
    top: 45%;
    transform: translateY(-50%); 
    outline: none; 
    background: rgba(65,174,223,0.6);
  }
  .d .owl-carousel .owl-nav button.owl-next{
    right: -4px;
    padding: 9px 30px 9px 20px !important;
  }
  .d .owl-carousel .owl-nav button.owl-prev{
    left: -4px;
    padding: 9px 30px 9px 20px !important;
  }
  .d .slider .items div{
    background: rgba(65,174,223,0.6); 
    padding: 16px 35px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: MyriadPro;
    z-index:300;
    position: absolute;
    top: 220px;
    width: 100%;
  }
  .treatment .well{ 
    text-align: center;
    background: transparent;
    border: none;
    padding-bottom: 25px;
  }
  .treatment .well h1{
    margin-top: 4px;
    font-family: 'Roboto';
    font-size: 30px;
    color: #333333;
  }
  .treatment .well p{
    font-family: MyriadPro;
    font-size: 16px;
    color: #333333;
  }
  .treatment .well button{ 
    position: relative;
    top: 18px;
    background: transparent;
    outline: none;
    border: 2px solid var(--cl);
    border-radius: 50px;
    color: var(--cl);
    padding: 10px 38px; 
    letter-spacing: 1;
  }
  .anons .slider .items img:nth-child(1){
    width: 100%;
    height: auto; 
  }
  .anons .slider .rasm{
    height: 200px;
    overflow:hidden;
  }
  .anons .slider .items img:nth-child(2){
    position: absolute;
    z-index: 3000;
    top: 0;
    left: 0;
    width: 21%;
  }
  .anons .slider .items {
    border: 1px solid #d6d6d6;
    text-align: center;
    height: 332px;

  }
  .anons .slider .items h1{
    color: var(--cl);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    margin-top: 22px;
  }
  .blue-btn{
    position: relative;
    top: 7px;
    background: var(--cl);
    outline: none; 
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-family: MyriadPro; 
    border: none;
    padding: 10px 43px; 
    letter-spacing: 1;
  }
  .anons .owl-carousel .owl-nav button.owl-next,
  .anons .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    border-radius: 0;
    z-index: 1000;
    top: 32%; 
    outline: none;   
  }
  .anons .owl-nav{
    display: block !important;
  }
  .anons .owl-carousel .owl-nav button.owl-next{
    right: -40px; 
    padding: 0 !important;
  }
  .anons .owl-carousel .owl-nav button.owl-prev{
    left: -40px; 
    padding: 0 !important;
  }
  .anons .owl-three .owl-nav button:hover{
    background: transparent !important;
    
  }
  .Med-tourism{
    background-image: url('../img/map.jpg');
    width: 100%;
    height: 390px;
    margin-top: 15px;
  }
  .Med-tourism div{
    margin-left: 67px;
    padding-top: 60px;
  }
  .Med-tourism div h1{
    font-family: MyriadPro;
    width: 252px;
    color: white;
    letter-spacing: 1;
    font-size: 24px;
    font-family: 600;
    padding: 20px 20px;
    background: var(--cl);

  }
  .Med-tourism div p{
    background-image: url('../img/sklet.png');
    line-height: 1.1;
    width: 574px;
    font-family: MyriadPro;
    font-size: 20px;
    padding: 11px 15px;
    background:rgba(255,255,255,0.7);
  }
  .add{
    background: #f2f2f2;
    padding-bottom: 30px;
  }
  .add h1{
    font-family: MyriadPro;
    font-size: 25px;
    margin-bottom: 20px;
  }
  .add .a .row div p{
    font-size: 16px;
    font-family: MyriadPro;
  }
  .add .a .row div.ali{
    background: #fff;
    overflow: hidden;
    text-align: center;
    height: 202px;
  }
  .add .a .row div.ali div{
    padding: 64px 25px 50px 25px;
  }
  .add .a .row div.ali div p{
    font-size: 16px;
    padding-bottom: 15px; 
    font-family: Roboto;
    border-bottom: .2px solid #7b7070;
  }
  .add .b{
    padding-left: 32px;
  }
  .add .b .green-btn{

    position: relative;
    top: 10px;
    background: #78be51;
    outline: none; 
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-family: Roboto; 
    border: none;
    padding: 7px 37px; 
    letter-spacing: 0.2; 
  }
  .green-btn{
    position: relative;
    top: 10px;
    background: #78be51;
    outline: none; 
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-family: Roboto; 
    border: none;
    padding: 6px 26px; 
    letter-spacing: 0.2;
  }
  .b #b{ 
    position: relative;
    height: 203px;
    text-align: center;
    background-image:url("../img/add2.jpg");
  }
  .b #b h2{
    font-family: Roboto;
    font-size: 16px;
    position: relative;
    text-align: center;
    top: 25px; 
  }
  .b .checks{
    position: relative;
    top: 33px;
    background-image: url("../img/checks.png");
    width: 438px;
    height: 45px; 
    display: block;
    margin: auto;
    margin-bottom: 63px;
  }
  .our-clinic .slider .items{ 
    height: 280px;
  } 
  .our-clinic .row{
    margin-right: 0px !important;
  }
  .owl-four .owl-nav button{
    position: absolute;
    top: 35%;
    outline: none;
    border-radius: 0 !important;
    padding: 10px 20px !important;
    background: rgba(255,255,255,0.6); !important; 
  }
  .our-clinic .slider .owl-nav button:hover {
    background: rgba(255,255,255,0.6) !important; 
  }
  .our-clinic .slider .owl-nav button{
    border-radius: 0;
  }
  .our-clinic .owl-carousel .owl-nav button.owl-next{
    right: -5px;
  }
  .our-clinic .owl-carousel .owl-nav button.owl-prev{
    left: -5px;
  }
  .our-clinic .slider .items div{
    position: absolute;
    z-index: 300;
    bottom: 0;
    color: #fff;
    width: 100%;
    letter-spacing: 1;
    padding: 20px 0;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    background: rgba(0,0,0,0.7);
  }
  .our-clinic .our div h1{
    margin-bottom: 10px; 
    font-size: 30px;
    font-family: 'Roboto';
  }
  .our-clinic .our div{
    padding-top: 70px;
    display: block;
    margin: auto;
    text-align: center;
  }
  .our-clinic .our div .blue-btn{
    font-family: 'Roboto';
    font-size: 16px;
    top: 13px;
    letter-spacing: 1;
    padding: 7px 40px;
  } 
  .our-clinic img{
    position: relative;
    display: block;
    margin: auto;
  }
  .our-clinic .owl-nav{
    margin: 0 !important;
  }
  .d-card{
    background: #EAE8E9;
    padding-bottom: 30px;
  }
  .d-card h1{
    font-family: 'Roboto';
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .d-card .b #b h2{
    font-family: 'Roboto';
    font-size: 18px;
    top: 48px;
  }
  .d-card #b{
    box-shadow: 0px 0px 1px #b5b1b1;
    margin-top: 0px;
    height: 284px;
    background-image: url('../img/d-card1.png');
    background-repeat: no-repeat;
  }
  .d-card .b .checks{
    top: 74px;
  }
  .d-card .b #b .blue-btn{
    font-family: 'Roboto';
    padding: 7px 64px;
    top: 70px;
  }
  .d-card .ff{
    height: 284px;
    margin-top: 20px;
  }
  .d-card .f .ff{
    box-shadow: 0px 0px 1px #b5b1b1;
    background-image: url(../img/f.jpg);
  }
  .d-card .f .ff div{
    position: absolute;
    z-index: 300;
    height: 40%;
    width: 95%;
    background: rgba(255,255,255,0.9);
    bottom: 0;
  }
  .d-card .f .ff div div{
    position: relative; 
    height: 46px;
  }
  .d-card .f .ff div div button{
   background: var(--cl);
    border-radius: 0px 0px 15px 15px;
    border: none;
    color: #fff;
    letter-spacing: 1;
    font-family: 'Roboto';
    font-size: 18px;
    padding: 5px 30px;;
   }
   .d-card .f .ff div div button:nth-child(1){
    position: relative;
    left: 3.3%;
   }
   .d-card .f .ff div div button:nth-child(2){
    position: relative;
    left: 21.7%;

   }
   .d-card .f .ff div p{
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;
    color: #454545;
   }
   .d-card .f .ff div .green-btn{
    text-align: center;
    font-family: 'Roboto';
    padding: 8px 64px;
    display: block;
    margin:auto;
    letter-spacing: 1;
   }
   .treatment-2{
    background: #F2F2F2;
    padding-top: 30px;
    padding-bottom: 48px;
   }
   .treatment-2 h1{
    font-family: 'Roboto';
    font-size: 30px;
    color: #333333;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 18px;
   }
   .treatment-2 .docs .slider{
    border: 2px solid #80C9EA;
    background: #fff;
    padding: 30px 18px;
    margin-top: 13px;
   }
   .treatment-2 .docs .slider .items h2{
    font-size: 14px; 
    color: #000;
    margin-bottom: 5px;
    letter-spacing: 0.5;
    font-family: 'Roboto';
    font-weight: 700;
    margin-top: 19px;
   }
   .treatment-2 .docs .slider .items{
    height: 338px;
   }
   .treatment-2 .docs .slider .items p{
    font-size: 12px; 
    color: #333333;
    letter-spacing: 0.5;
    font-family: 'Roboto'; 
   }
   .treatment-2 .docs .slider .items h3{
    color: #f9e00d;
    font-size: 20px;
    margin-top: 4px;
   }
   .treatment-2 .docs .slider .items h3 span{
    color: #CCCCCC;
   }
   .treatment-2 .docs .slider .items{
       border: 1px solid #d6d6d6;
       text-align: center; 
   }
   .treatment-2 .fam-doc{ 
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    border: 2px solid #80C9EA;
    background: #fff; 
    overflow: hidden;
    margin-top: 13px;
   }
    .treatment-2 .fam-doc div{
        height: 87px;
        position: absolute;
        z-index: 100;
        background: #fff;
        text-align: center;
        bottom: 2px;
        width: 91%;
    }
    .treatment-2 .fam-doc div h1{
        text-transform: uppercase;
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 600;
        margin-top: 25px;
        margin-bottom: 4px;
        color: #7ac0f8;
        letter-spacing: 1;
    }
    .treatment-2 .fam-doc div p{
        font-family: 'Roboto';
        font-size: 16px;
        color: #454545; 
    }
     .treatment-2 .blue-btn{
        top: 24px;
        bottom: 24px;
        display: block;
        margin: auto;
        background: #7ac0f8;
        font-family: 'Roboto';

     }
     .owl-five .owl-nav{
        display: block !important;
     }
  .owl-five .owl-nav button.owl-prev:active {
    background-image: url(../img/prev5-5.png) !important;
  } 
  .owl-five .owl-nav button.owl-next:active { 
    background-image: url(../img/next5-5.png) !important;
  }
  .owl-five .owl-nav button{
    position: absolute;
    top: -80px;
    outline: none;
    border-radius: 0 !important;
    padding: 15px 15px !important;
    background: #fff !important;
    box-shadow: 0px 0px 3px #b9b7b7;
  }
  .owl-five .owl-nav button.owl-next{ 
    background-image: url(../img/next5.png) !important;
    background-repeat: no-repeat !important;
    right: 0px !important;
    background-position: 50% 50% !important;
    right: -21px !important;
  }
  .owl-five .owl-nav button.owl-prev{
    background-image: url(../img/prev5.png) !important;
    background-repeat: no-repeat !important;
    right: 0px !important;
    background-position: 50% 50% !important;
    left: 92.6%;
  }
.vaccine h1{
    font-family: 'Roboto';
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.vaccine #one{ 
    margin-bottom: 30px;
    overflow: hidden;
    height: 236px;
    box-shadow: 0px 0px 5px #b5b3b3;
    background-image: url("../img/vac1.jpg");
}
.vaccine #one .one{  
    background: rgba(135,136,142,0.5);
    position: relative;
    height: 240px;
    top: -30%;
    left: 100%;
    width: 65%;
    transition: all 0.3s ease-in;
    padding: 30px 30px;
}
.vaccine #one .one h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}
.vaccine #one .one p{
    font-family: 'Roboto';
    font-size: 16px;
    color: #fff;
}
.vaccine #one .one button{
    font-family: 'Roboto'; 
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    padding: 6px 28px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    outline: none;
}
.vaccine #one:hover .one{
    left: 35%;
}
.vaccine #two{  
    overflow: hidden;
    height: 236px;
    box-shadow: 0px 0px 5px #b5b3b3;
    background-image: url("../img/vac2.jpg");
}
.vaccine #two img{
    position: relative;
    float: right;
    z-index: 400;
}
.vaccine #two div{
    background: rgba(135,136,142,0.7);
    position: relative;
    height: 240px; 
    width: 100%;
    transition: all 0.3s ease-in;
    padding: 85px 30px;
    left: 100%;
}
.vaccine #two p{
    padding-right: 145px;
    letter-spacing: 0.5;
    font-family: 'Roboto';
    font-size: 16px;
    color: #fff;
}
.vaccine #two button{
    font-family: 'Roboto'; 
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    padding: 6px 28px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    outline: none;
}
.vaccine #two:hover div{
    left: 0;
}
.news {
    background: #f2f2f2;
}
.news h1{
    font-family: 'Roboto';
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.news .latest{
    height: 400px;
    width: 100%;
    background:#fff;
    box-shadow: 0px 0px 5px #b5b3b3;
    padding: 25px 16px;
    margin-bottom: 30px;
}
.page>div:nth-child(1){
    height: 141px;
    overflow: hidden;
}
.page>div:nth-child(2) span{
    color: #b7b7b7;
    font-family: 'Roboto';
    display: block;
    font-size: 14px;
    border-top: 2px solid #41aedf;
    padding-top: 9px;
}
.page>div:nth-child(2) h5{
    display: inline-block;
    font-family: 'Roboto';
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}
.page>div:nth-child(2) h3{
    margin-bottom: 5px;
    display: inline-block;
    font-family: 'Roboto';
    font-size: 16px;
    color: #000;
    font-weight: 600;
}
.page>div:nth-child(2) p{
    color: #b7b7b7;
    font-family: 'Roboto';
    display: block;
    font-size: 16px; 
    margin-top: 11px;
    line-height: 1.2;
    text-align: justify;
}
.page>div:nth-child(2) button{
    font-family: 'Roboto';  
    font-size: 13px;
    margin-top: 12px;
    color: var(--cl);
    letter-spacing: 0.4;
    padding: 6px 44px;
    background: transparent;
    border: 1px solid var(--cl);
    border-radius: 50px;
    outline: none;
}
.news .slider ul li{
    list-style: none;
    margin-bottom: 9px;
    font-family: 'Roboto';
    font-size: 16px;
} 
.news .slider ul{ 
    padding-left: 17px;
}
.news .slider{
    box-shadow: 0px 0px 5px #b5b3b3;
}
.news .slider h2{
    font-size: 16px;
    font-family: 'Roboto';
    color: var(--cl);
    padding-left: 17px;
    margin-top: 22px;
    margin-bottom: 17px;

}
.news .slider .img{
    height: 143px;
    overflow: hidden;
    border-bottom: 1px solid #41aedf;
}
.news .slider .items{
    height: 331px;
    background: #fff; 
}
.news .slider .owl-nav{
    background: #fff;
    border-top: 1px solid #c3c3c6;
    margin-top: 0;
    width: 94%;
    display: block;
    margin: auto; 
}
.news .slider .owl-carousel{
    background: #fff;
}
.news .slider .owl-nav .owl-next{
    border: 1px solid #41aedf;
    border-radius: 50px;
    color: var(--cl);
    font-family: 'Roboto';
    font-size: 13px; 
    padding: 5px 34px;
    margin: 19px;
    outline: none;
}

.con {
    display: inline-block;
    position: relative;
    padding-left: 37px;
    margin-bottom: 2px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 500 !important;
}

/* Hide the browser's default checkbox */
.con input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    border-radius: 50%;
    width: 20px;
    border: 1px solid #70b748;
    background-color: none;
}

/* On mouse-over, add a grey background color */
.con:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.con input:checked ~ .checkmark {
    background-color: #70b748;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.con input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.con .checkmark:after {
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid white; 
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}
.con:active{
    color: #70b748;
}
.magazine{
    
}
.magazine .for-img{ 
    display: inline-block;
    overflow: hidden;
    height: 234px;
}
.magazine h1, .magazine p, .magazine h2{
    display: inline-block; 
}
.magazine .box{
      width: 100%;
    background: #fff;
    box-shadow: 0px 0px 5px #b5b3b3;
    padding: 25px 16px;
    margin-bottom: 30px;
}
.magazine h1{
      font-family: 'Roboto';
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.magazine h2{
      margin-top: 10px;
    color: var(--cl);
    font-family: roboto;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 1;
}
.magazine p{
        font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.3;
    text-align: justify;
    letter-spacing: 0.35;
    color: #5c5c5c;
}
.magazine p:after{
  content: "";
      max-width: 100%;
    border-top: 1px solid #e7e7e8;
    margin-top: 18px;
    display: block;

}
.magazine button{
  margin-top: 3px;
  position: relative;
    top: 7px;
    background: var(--cl);
    outline: none;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    font-family: MyriadPro;
    border: none;
    padding: 10px 23px;
    letter-spacing: 0.5;
}
.magazine #for_img{
  overflow: hidden;
      width: 100%;
      height: 284px;
      background: url('../img/shop.jpg');
    
    box-shadow: 0px 0px 5px #b5b3b3; 
    margin-bottom: 30px;
}
.magazine #for_img a{
  background: #78be51;
  background-image: url('../img/get.png');
  background-repeat: no-repeat;
  background-position: 12% 50%;
  padding: 23px 23px 23px 98px;
  border-radius: 50px 0px 0px 50px;
  position: relative;
  font-family: 'Roboto';
  font-size: 20px;
  color: #fff;
  z-index: 500;
  top: 45%;
  left: 100%;
  transition: all 0.3s;
}
.magazine #for_img:hover a{
  left: 54%;
}
footer{
  background: var(--cl); 

}
footer .container .row div p{
  padding-left: 57px;
  background: url(../img/develop.png);
  margin-top: 30px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  font-family: 'WorkSans';
  font-size: 24px;
  text-transform: uppercase; 
  color: #fff;
}
footer input{
     margin-top: 25px;
     padding: 10px 20px 10px 20px;
    border-radius: 50px 0px 0px 50px;
    border: none;
    width: 432px;
    margin-right: -5px;
}
footer button{
      padding: 10px 20px 10px 10px;
    border-radius: 0px 50px 50px 0px;
    border: none;
    background: #78be51;
    color: #fff;
    font-size: 16px;
    font-family: 'WorkSans';
    letter-spacing: -0.6;
    margin-left: 0;
}
.footer{
  background: #707070;
  padding-bottom: 15px;
}

.footer h3{
  font-family: 'Roboto';
  font-size: 14px;
  color: #fff;

}
.footer span{
  font-family: 'Roboto';
  font-size: 14px;
  color: #acacac;
  display: block;

}
.footer i:hover{
    background: var(--cl); 
}
.footer i{
  transition: all 0.3s;
    background: #636363;
    width: 33px;
    margin-right: 15px;
    height: 33px;
    color: #707070;
    font-size: 25px;
    cursor: pointer;
    padding: 2p;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
}
.last span{
  font-family: 'Roboto';
  font-size: 16px;
  color: #9c9c9c;
  display: block;
  margin: auto;
  text-align: center;
}
.last{
  background: #363636;
  overflow: hidden;
  padding: 20px;
}