html, body{
height:100%;
width:100%; 
}

a{
    cursor: pointer;
    transition:.5s;
}
body{
    background-image:url('i began/bg.png');
}

::placeholder{
    color:#000000;
    font-size:14px;  
}


#carouselExampleSlidesOnly{ 
    overflow: hidden; 
}
.carousel-inner img{
    width:100%;
    height: 100%;
}
.carousel-caption{
font-family: 'Montserrat';
position: absolute;
left:0 !important;
width:37%;
bottom:0 !important;
height: 100%;
background: rgba(19,19,22,0.57);
line-height: 20px;
}
.carousel-caption .lor{
    font-weight:720;
    font-size:54px;
}
.carousel-caption .year{
    font-size:27px;
}
.carousel-caption .ip{
    font-size:51px;
}
.carousel-caption .sed{
    font-size:17px;
}
.carousel-caption .btn{
    font-size:11px;
    font-size:11px;
    font-family:'Open Sans';
    text-transform: uppercase;
    border-radius: 0;
    color:#000000;
    border: none;
    padding-top:12px;
    padding-bottom: 12px;
    background-color: #FFE600;
     letter-spacing: 2px;
}
.carousel-caption .btn:hover{
    background:#D6C100;
}

@media (max-width: 992px){
      #carouselExampleSlidesOnly{
    height:180px; 
     margin-top:30px;
}
.carousel-caption{
    width:42%;
    bottom:0;
}
.carousel-caption .text{
    margin-top:0%;
}
    .carousel-caption .text{ 
        margin-left:13%; 
    }
   
.carousel-caption .text .lor{
    font-size:45px;
}
.carousel-caption .text .year{
    font-size:20px;
}
.carousel-caption .text  .ip{
    font-size: 38px;
}
.carousel-caption .text  .sed{
     line-height: 7px;
     font-size: 14px;
     padding-top:5px;
}
.carousel-caption .btn{
    font-size:10px; 
    margin-top:5px; 
    padding-top:7px;
    padding-bottom: 7px; 
}
}
 
@media(min-width: 992px){
    #carouselExampleSlidesOnly{
    height:240px; 
     margin-bottom:20px; 
     
}
    .carousel-caption .text{
        margin-left:15%; 
        margin-top:8%;
    }
    .carousel-caption{ 
          top:0px; 
        font-family: 'Montserrat';
        position: absolute;
        left:0;
        width:42%;
        height: 100%;
        background: rgba(19,19,22,0.57);
        line-height: 14px;
    }
    .lor{
        margin-left:10px;
    }
    #slides{
    margin-top:30px; 
    }
    .carousel-caption .text  .ip{
    font-size: 51px;
}
.carousel-caption .text  .sed{
     margin-top:30px;
}
}
@media (max-width: 768px){
     
    .carousel-caption  { 
          top:0px;  
        left:0;
        width:60%;
        height: 100%; 
        line-height: 11px;
    }
    .carousel-caption .btn{
    font-size:11px; 
    margin-top:4px; 
    padding-top:5px;
    padding-bottom: 5px; 
     letter-spacing: 0px;
}
.carousel-caption .text  .sed{
     line-height: 15px; 
     padding-top:5px;
     font-size:12px;
}
 
.carousel-caption .text .ip{
    font-size:40px;
}
.carousel-caption .text{
    margin-top:5%;
}
     
}



@media (max-width: 576px){
    #carouselExampleSlidesOnly{
    height:160px;
     margin-top:15px;
}
     
    .carousel-caption .text{
        margin-top:12px;
        margin-left:15%; 
    }
    
    .carousel-caption{
         padding-top:10px;  
left:0;
width:52%;
height: 100%; 
line-height: 10px;
}
.carousel-caption .text .lor{
    font-size:38px;
}
.carousel-caption .text .year{
    font-size:18px;
}
.carousel-caption .text  .ip{
    font-size: 30px;
}
.carousel-caption .text  .sed{
     line-height: 12px;
     font-size: 12px;
}
.carousel-caption .btn{
    margin-top:0;
    font-size:8px; 
    padding-top:5px;
    padding-bottom: 5px; 
     letter-spacing: 0px;
}
}



@media (max-width: 440px){
      #carouselExampleSlidesOnly{
    height:114px;
     
}
    #slides{
        margin-top: 15px;
    }
    .carousel-caption .text{
        margin-top:5px;
        margin-left:15%;
    }
    .carousel-caption{ 
        padding-top:10px !important;
        width:50%;
        line-height: 5px; 
}
.carousel-caption .text .lor{
    font-size:24px;
}
.carousel-caption .text .year{
    font-size:15px;
}
.carousel-caption .text  .ip{
    font-size: 19px;
}
.carousel-caption .text  .sed{
     line-height: 3px;
    font-size: 9px;
}
.carousel-caption .btn{
    font-size:7px; 
}
}



 
 
.enter{
    background:#FFE600;
    box-shadow: 0px 1px 10px#D3D3D3;
}
.begin{
    margin-top:10px;
}
.ukradu{ 
    font-family:'Open Sans';
     font-size:16px;
     font-weight: 700;
}
.signed{
    font-family:'Myriad Pro';
    font-weight:500;
    font-size:14px;
    margin-top:13px;
}
@media(max-width:992px){
}
@media(max-width:576px){
    .begin{
        margin-top:25px;
    } 
}
@media(max-width:768px){
    .begin{
        margin-top:20px;
    } 
}



#bg-ligh{
background:#FFE600 !important;
}
#razv{
    padding-left:0;
}
#usl{
    padding-left:0;
}

 
nav .collapse .container{ 
    padding:0;
    border-top:1px solid;
    padding-top:17px; 
    padding-bottom:14px;
}
@media(max-width:768px){
    nav .collapse .container{  
        padding-top:0;
        padding:15px;
        border-top: none;
    }
    
}
nav ul li a{
    font-family: 'Myriad Pro';
    color:#000000 !important;
    font-size:15px;  

}
nav ul li a img{
    margin-left: 24px;
}

nav ul li .dropdown-menu{
    background-color: #ffe600;
    top:58px;     
    border-radius: 0; 
    border: none;
    padding-top:0;
    padding-bottom:0;
}
nav ul li .dropdown-menu a:hover{
background:#fff; 
}


@media(max-width:1200px){
    nav ul li a{
        font-size:12px;
    }
    nav ul li .dropdown-menu{
        top:40px;
    }
}
 @media(max-width:992px){
    nav ul li a{
        font-size:9px;
        padding-left:0rem;
        padding-right:0rem;
    }
    nav ul li .dropdown-menu{
        top:30px;
    }
    nav ul li .dropdown-menu a{
        padding-left:1rem !important;
    }
}
@media(min-width:768px){
    .navbar-expand-md .navbar-nav .nav-link{
    padding-left:0rem !important;
    padding-right: 0rem !important;
}
#last-dropdown{
    left:-94px;
    text-align: right;
}
}
@media(max-width:768px){
    nav ul li a{
        font-size:12px;
    }
    nav ul li a img{
        display:none;
    }
    nav .navbar-toggler span{
        margin-left:93%;
    }
    nav .collapse .container{
        padding-top:0;
    }
}
@media(max-width:500px){
    nav .navbar-toggler span{
        margin-left:92%;
    }
}
@media(max-width:400px){
    nav .navbar-toggler span{
        margin-left:90%;
    }
}

.nigar{
    background: #131316;
    padding-bottom: 1px;
    padding-top: 10px;  
    padding-left:10px; 
    margin-top:30px;
    
}
 
.nigar .look{ 
    line-height:1000px;
    height:40px; 
    border-radius:50px; 
    width: 54% ;
    display: inline-block;
    border:none;
    padding-left:10px;
    outline:none;
}
 
.nigar .dropdown button:focus{
  box-shadow: none !important; 
  border: none !important;
}
.nigar button.btn-light{
    width:50px;
    height:50px;
    border-radius: 50%;
    background: #131316; 
    border:none;
    position: relative;
    padding: 0; 
}
.nigar .dropdown-menu button{
    cursor:pointer;
}
.nigar .dropdown-menu button:hover{
    background:#DDD8EA;
}
 .nigar button.my-sm-0 img{
    position: relative;
    padding: 0; 
}
.nigar label{
    color:#FFFFFF;
    font-size: 14px;
    display: inline;
    font-family: 'Myriad Pro';
    margin-right:15px;
    margin-left:20px;
}
.nigar .dropdown{ 
      margin-top:19px;
     margin-right: 15px;
     border:none;
     border-radius: 0;
     background: #FFFFFF;
     display: inline-block;
}
.nigar .dropdown button{
    border:0;
    background: #FFFFFF;
    color:#000000;
    font-family: 'Open Sans';
    font-size: 14px;
    border-radius: 0;
}


@media (max-width:992px) and (min-width:768px){
    .nigar{ 
        margin-top:1.5vw;
    }
    .nigar .look{ 
        margin-left:15px; 
        width:36%;
    }
    .nigar label{
        margin-left:1%;
        margin-right:1px;
    }
}


 @media(max-width:1200px){
     .nigar.look{
         width:34%;
     }
     .nigar label{
        margin-left:1%;
        margin-right:1px;
    }
    .nigar .dropdown button{
        font-size:11px;
    }
 }
 
 

@media(max-width:768px){
    .nigar .look{
        width: 84%;
        margin-left:10px; 
    }
    .nigar{
        padding-top:17px;
    }
    .nigar label{ 
        margin-left:10px;
    }
    .nigar .dropdown{
        margin-left:8%; 
        margin-top:10px;
    }
    .nigar .dropdown button{
        font-size:14px;
    }
}
 
 @media(max-width:576px){
    .nigar{
        margin-top:15px; 
    }
    .nigar .dropdown{
        margin-right:0;
        margin-left:8%;
    }
    .nigar .dropdown button{
        font-size:13px;
    }
     
}

@media(max-width:490px){
    .nigar{
        padding-top: 15px;
    }
     .nigar .dropdown{
        margin-right:0;
        margin-left:6%;
    }
    .nigar .dropdown button{
        font-size:13px;
    }
}
@media(max-width:465px){
    .nigar .look{
        width:82%;
    }
    .nigar .dropdown{
        margin-right:0;
        margin-left:3%;
    }
}
@media(max-width:441px){
    .nigar{ 
        margin-top:15px;
       
    }
    .nigar .look{
        width: 80%;
        margin-left:10px; 
         font-size: 10px;
    }
    .nigar label{
         font-size: 12px;
        margin-left:10px; 
    }
    .nigar .dropdown-toggle{
         font-size: 11px;  
    }
    .nigar .dropdown button{
         font-size: 12px;
    }
}
@media(max-width:414px){
    .nigar{
        padding-top: 13px;
    }
    .nigar .dropdown{
        margin-left:0.4%;
    }
    .nigar .dropdown button{
        font-size:11px;
    }
}
@media(max-width:372px){
    .nigar{ 
        margin-top:15px;
       
    }
    .nigar .look{
        width: 80% ;
        margin-left:0px; 
         font-size: 10px  ;
    }
     ::placeholder{
        font-size: 12px  ;
    }
    .nigar label{
         font-size: 11px  ;
        margin-left:0px ; 
    }
    .nigar .dropdown{ 
         font-size: 11px; 
         margin-right: 4px;
    }
    .nigar .dropdown button{
         font-size: 10px;
    }
    .nigar .dropdown-toggle{
        padding-left:7px;
        padding-right:7px;
        
    }
     
}




.mainly{
    margin-top:30px;
}
.mainly .flex-wrap{
    overflow: hidden;
    font-family: 'Myriad Pro'; 
    border-radius: 0;
    margin-bottom:30px;
    height:auto; 
}
p.card-text pre{
    font-family: 'Myriad Pro';
    font-size:14px;
}
.mainly .flex-wrap p{
    font-size: 16px;
}
.flex-wrap .new{
    position:absolute;
    top:0;
    right:0;
    width:15%;
    height:auto;
}
.flex-wrap .new-title{
    transform:rotate(45deg);
    top: 20px;
    right: -25px;
    position: absolute;
    color: #fff;
    background: #C60D0D;
    padding: 0px 40px;
    font-size: 14px;
}
.card-header{
    padding:0 !important;
    width:246px;
    height:245px;
    overflow: hidden;
}
 
.mainly .flex-wrap .card-text{
    font-size: 14px;
    margin-top:-19px;  
    position: relative;
}
 .mainly .flex-wrap .skidka{
     font-family:'Open Sans';
     color:#FF0000;
     font-size:20px;
     font-weight:700;
     display:inline;
 } 
 .sale{
    background:#FF0000;
    margin-right:7px;
    font-size:13px;
    font-family: 'Myriad Pro';
    padding: 2px 5px 2px 5px;
    display:inline-block;
    color:#FFFFFF;
    border-radius:3px;
    font-family: 'Open Sans';
       
}
.mainly .flex-wrap .btn-primary{
 
    background:#FFE600;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans';
    text-transform: uppercase;
    border:none;
    border-radius: 3px;
    width:120%;
    color:#2F2F2F;
}
.mainly .flex-wrap .btn-primary:hover{
    background:#D6C100;
}
@media (max-width:1200px) and (min-width:992px) {
     .mainly .flex-wrap{
         width:100%;  
     }
     .mainly .flex-wrap .card-header {
         width:100%;
     }
     .mainly .flex-wrap .card-header img{
         width:130%;
         height:100%;
     }
    .mainly .flex-wrap .btn-primary{
        width: 100%;
    }
    .mainly .btn-primary{
        overflow: hidden;
    }
    .mainly .flex-wrap .card-block{
        left: 12%;
        position: relative;
    }
}
@media(max-width:992px){
    .mainly .flex-wrap .card-header{
        overflow: hidden;
    }
     .mainly .flex-wrap{
         width:100%; 
         margin-left:0;
     }
     .mainly .card-block{
         overflow: hidden;
     }
    .mainly .flex-wrap .btn-primary{
        width: 100%;
    }
    .mainly .btn-primary{
        overflow: hidden;
    }
}
@media(max-width:576px){
    .mainly{
        margin-top:15px;
    }
     .mainly .flex-wrap{
         margin-bottom:15px;
     }
     .mainly .card-block{
         overflow: hidden;
         margin-left:4%;
     }
    
    .mainly .btn-primary{
        overflow: hidden;
    }
}
@media (max-width:512px) and (min-width:486px){
    .mainly{
        margin-top:15px;
    }
    .mainly .card-header{  
        width: 48%;
        background: #FFFFFF;
    }
    .mainly .card-header img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    float:left;
    }
}
@media(max-width:486px){
    .mainly{
        margin-top:15px;
    }
    .mainly .card-header{  
        width: 100%;
        background: #FFFFFF; 
    }
    .mainly .card-header img{
        width:110%; 
        height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    }
     .mainly .flex-wrap{
         padding:0px;
         width:100%; 
         display: block;
        margin-left: auto;
        margin-right: auto;  
     }
     .mainly .flex-wrap p{
         font-size:20px;
     }
     .mainly .card-block{
         display: block;
    margin-left: auto;
    margin-right: auto; 
         overflow: hidden; 
         padding-top:20px;
         text-align:center;
     }
     .mainly .card-block pre{
         font-size:18px;
     }
    .mainly .flex-wrap .btn-primary{
        width: 92%;
    }
    .mainly .btn-primary{
        overflow: hidden;
    }
}
@media(max-width:390px){
    .mainly{
        margin-top:15px;
    }
    
    .mainly span{
        font-size:17px;
    }
    .mainly a{
        font-size: 12px;
    }
}




.bottom .footer{  
    font-size:14px ;
    text-align: center;
    float:left;
    background: #131316;
    position: relative;
    width:100%; 
}
 
.footer ul{
    padding:0;
    text-align:center;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
     
}
.footer ul li{
    float:left;
    position: relative;
    text-transform: uppercase; 
    list-style: none; 
    font-weight: 400;
    color:#FFFFFF;    
    transform: translateY(40%); 
}
.footer ul li:hover {
    color:#FFE600;
    cursor: pointer;
    
}
.foter{ 
    background: #FFE600;
    float:left;
    width: 100%;
    font-size: 13px;
    font-family: 'Open Sans';
    
}
.foter img{
    width:120px;
    height:40px;
}



.foter div.row{
    position: absololute; 
}
.foter div.row div{ 
    position:relative;  
    padding-top:18px; 
}
   
.foter img{
    position: relative; 
    top:-40px;
    left:110px;
}

@media(max-width:1200px){
    .bottom .foter{
     height: auto;
     overflow:hidden;
    }
    .foter .row{
        padding:0;
        margin-top:0;
     height: auto;
     overflow:hidden;
    }
}
@media(min-width:992px){
    .foter .row div{
        height:72px;
    }
    .foter .row{
        overflow :hidden;
    }
}
@media(max-width:992px){
    .bottom .foter{
     height: auto;
     overflow:hidden;
    }
    .foter .row{ 
        margin-top:10px;
        margin-bottom:10px;
     height: auto;
     overflow:hidden;
    }
    
    
}
@media(min-width:768px) and (max-width:992px){
    .foter .row div{
        height: 80px;
    }
}
@media(max-width:768px){
    .bottom .foter .row img{
        top:0;
        left:0;
        margin-left:0;
     }
}
.foter span{
    position: relative;
}
@media(max-width:400px){
    .bottom .footer{
        font-size:12px;
    }
}
.foter span{
    position: relative;
}
@media(max-width:992px){
    .bottom .foter img{
        left:35%  ;
    }
}
 

 