 
@media (min-width: 1290px) {
    .container {
        max-width: 1320px !important;
    }
    .for_site{
 		margin-top:30px;
 	}
 	section.centerSite{
 		margin-top: -30px;
 	}
 	
 	.for-img img{
 		height: 180px;
 	}
 	.topInfo strong{
    top:-25px;
    position: relative;
    left:26%;
}
}

@media (min-width: 1200px){

	.topInfo strong{
    top:-25px;
    position: relative;
    left:26%;
}
.owl-nav{
	top: -190px;
}
}
 @media (max-width: 1300px){  
 	
 	.for_site{
 		margin-top:20px;
 	}
 	section.centerSite{
 		margin-top: -20px;
 	}
 	nav ul li a {
 		padding: 12px 6px; 
 	}
 	.af{
 		padding: 6px 16px;
 	}
 	.galleryProduct{
 		width: 258px;
 	}
 	.for_gallery .galleryProduct .bottom_text{
 		top: 74%;
 		padding-right: 50px;
 	}
 	.for_gallery .slider .bottom_text{
 		top:80%;
 	}
 	.for_gallery .slider .bottom_text p{
 		font-size: 26px;
 	}
 	.f_webs{
 		margin: 0;
 		padding:0 !important;
 	}
 	.datasite p{
 		vertical-align: middle;
 	}
 	#myCanvas{
 		width:250px;
 	}
 	 .for_gallery .owl-carousel .owl-item img{
    height: auto;
    width:100%;
 	}
 	.first_block {
 		margin-bottom: 15px;
 	}
 	.text-col{
 	height: 39px;
    overflow-y: hidden;
 	}
 }
 

 @media (max-width: 1200px){
 	.galleryProduct .items img{
 		width: 100%;
 		height: auto;
 	}
 	.galleryProduct .items{
 		height: 136px;
 		overflow: hidden;
 	}
 	.for_gallery .owl-carousel .owl-item img{
 		width: 100%;
 		height: auto;
 	}
 	.for_gallery .slider .items{
 		height: 278px;
 	}
 	.for_gallery .slider .bottom_text{
 		top:76%;
 	}
 	.datasite{
 		padding-right: 0 !important;
 	}
 	.text_left_product p{
 		margin-bottom: 10px;
 	}
 	.text-col{
		height: 40px;
		overflow: hidden;
	}
	text-col p::after{
		content: "...";
	}
 	.owl-nav{
 		top: -210px;
 		left: 88%;
 	}
 	.text_left_product{
 		background-position: -50px 30px;
 	}
 	nav ul li a {
 		padding: 12px 3px; 
 		font-size: 12px;
 	} 
 	.for_gallery .galleryProduct .bottom_text{
 		height: 40px;
 		overflow: hidden;
 		top:68%;
 		background-position: 85% 35%;
 		padding-right: 65px;
 	}
 	.for_gallery .slider .bottom_text p{
 		font-size: 20px;

 	}
 	#nuqtainazar .owl-carousel .owl-item img{
 		width:30%;
 	} 
    #myCanvas{
    	width:210px;
    	height: 250px;
    }
    .datasite p {
    	width: 48%;
    }
    .galleryProduct{
    	width:49%;
    }
    .centerSite #carouselExampleSlidesOnly .carousel-inner .text-img h2{
		font-size: 28px;
	}
	.centerSite #carouselExampleSlidesOnly .carousel-inner .text-img h4{
 	font-size: 13px;
 	}
}


@media(max-width:992px){
	.webs{
		margin-top: 10px;
	}
	.datasite p{
		width: 43%;
	}
	.first_block span{
		font-size: 13px;
	}
	.centerSite #carouselExampleSlidesOnly .carousel-inner .text-img{
		padding-bottom: 13px;
		padding-left: 17px;
	}
	.rrr{
		line-height: 1;
	}
	.podrobno{
		font-size: 10px;
	}
	.text-col{
		height: 45px;
	}
	.centerSite .for_site .cont{
		padding-bottom: 15px;
	}
	.text_left_product p{
		font-size: 11px;
	}
	.galleryProduct .items{
		height: 101px;
		overflow:hidden;
	}
	.for_gallery .slider .items{
		height: 208px;
	}
	.container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
    width: 80px;
    opacity: 1;
  }
  .container-2 span:hover ~ #search{
    width: 80px;
    opacity:1;

  }
  .container-2 #search:hover{
    width: 80px;
    opacity:1;
    }
	nav ul{
		width: 89%;
	}
	section.for_gallery{
		margin-top: 0;
	}
	nav.navbar{
		padding-bottom: 5px;
	}
	nav ul li a{
		padding: 12px 2px;
		font-size: 9px;
		font-weight: 600;
	}
	.af a{
		font-size: 9px;
	} 
	.container-2 input#search{
		height: 21px !important;
	}
	.container-2 .icon{
		top:1px;
	}
	.af{
		padding: 4px 5px;
	}
	.text_left_product{
		height: 166px;
		overflow-y: hidden;
		background-position: -71px -10px;
	}
	.logo_img img{
			width: 53%; 
			margin-top: 40px;	
		}
	.logo_img{
		display: inline;
		padding: 0;
		margin:0;
	}
	.text_left_product h4{
		font-style: 18px;
	}
	.centerSite #carouselExampleSlidesOnly .carousel-inner .text-img h2{
		font-size: 21px;
	}
	.centerSite #carouselExampleSlidesOnly .carousel-inner .text-img h4{
 	font-size: 10px;
 	line-height: 1.4;
 	} 
	.text-col p{
		font-size: 13px;
	}
	.navbar-header{
		width:16px;
		margin-right: 0;
	}
	nav li:last-child{
		padding: 6px 6px;
	} 
	.header_menu{
		padding-bottom: 0px;
	}
	.header_menu nav{
		margin-bottom: 0;
	} 
	.owl-nav{
		top:-210px;
	}
	.body_newLent{
		margin-top: 0px;
	}
	.for_gallery .slider .bottom_text{
		top:76%;
		background-size: 40px;
		background-position: 97% 55%;
	}
	.for_gallery .slider .bottom_text p{
		font-size: 17px;
	}
	.galleryProduct .items p{
		font-size: 9px;
		line-height: 11px;
	}
	.for_gallery .galleryProduct .bottom_text {
		top:63%;
		left:8px;
	} 
	.for_gallery .slider p{
		line-height: 22px;
	}
	#myCanvas{
		width:90%; 
	}
	.newslenta{
		margin-top:5%;
	}
	footer .info{
		text-align: center;
		margin-bottom: 15px;
	}
	.txt_col .bold a{
		font-size: 13px;
	}
	.img_col p{
		font-size: 13px;
	}
	.info p{
		padding-right: 0;
	}
	.f_menu{
		text-align: center;
	}
	.owl-carousel .owl-item a img{
		width: 100%;
		height: auto;

	}
	.bold{
		height: 41px;
	}
}


@media (max-width: 767px){
	.header_menu{
		margin-top: 30px;

	}
	.navbar-toggler{
		padding: .25rem .35rem !important;
	}
	nav li:last-child{
		padding: 0;
		padding-bottom: 5px;
	} 
	.for_gallery .slider .bottom_text p{
		font-size: 21px;
	} 
	.advice_image{
		margin-top:0;
	}
	.navbar-toggler{    
	}
	nav ul li{
		margin-top:10px;
	}
	nav .af a{
		font-size: 12px;
	}
	nav .af{
		padding: 6px 6px; 
		display: inline-block;
	}
	.container-2{
		position: relative;
	}
	.container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
    width: 100%;
    opacity: 1;
  }
  .container-2 span:hover ~ #search{
    width: 100%;
    opacity:1;

  }
  .container-2 #search:hover{
    width: 100%;
    opacity:1;
    }
	.logo_img img{	
		width: 48%;
		left: 26%; 
		position: absolute;
		z-index: 20;
		margin-top: 56px; 
	}
  .navbar-toggler-icon{
  	width: 1.1em !important;
  	height: 1.1em !important;
  }
  .text-col{
  	height: 57px;
  	overflow: hidden;
  }
  .owl-nav{
  	top: -227px;
  	left: 80%;
  }
  .text-col p {
  	font-size: 16px;
  }
  .container-2{  
  	width: 49%;
  	display: inline-block; 
  	margin-top: 0;
  }
  .container-2 input#search{
  	height: 26px !important;  
  	width: 100%;
  }
  .container-2 .icon{
  	top: 4px;
  }
  .container-2 input#search{ 
  	opacity:1;
  }
  #nuqtainazar .owl-carousel .owl-item img{
  	width: 45%;
  }
  .centerSite #carouselExampleSlidesOnly .carousel-inner .text-img h2{
  	font-size: 30px;
  }
  .centerSite #carouselExampleSlidesOnly .carousel-inner .text-img h4{
  	font-size: 14px;
  }
  #carouselExampleSlidesOnly{
  	margin-bottom: 20px;
  }
  .for_gallery .owl-carousel .owl-item a img{
  	width:110% !important;
  }
  .for_gallery .slider .bottom_text{
  	top:80%;
  }
  .for_gallery .slider .items{
  	height: 270px;
  }
  .galleryProduct .items{
  	height: 150px;
  }
  .for_gallery .galleryProduct .bottom_text{
  	top:76%;
  	background-position: 93% 0%;
  }
  .text_left_product p{
  	font-size: 17px;
  	background-position: -30px 33px;
  	padding: 0px 28px;
  }
  .galleryProduct .items p{
  	line-height: 1;
  	font-size:14px;
  	height: 31px;
  	overflow: hidden;
  }
  .cloned{
  	margin-bottom: 7px;
  } 
  .product-elements .img_col img{
		position: relative; 
	}
	.topInfo{
		font-size: 13px;
	}
	.webs img{
		width: 28px;
	}
	.ucel{
		margin-top:3%;
	}
	.newslenta{
		margin-top: 3%;
	}
	section.for_gallery{
		margin-top: 40px;
	} 
	.text_left_product{
		height: 319px;
		background-position: -142px 0px;
		background-size: cover;

	}
	.text_left_product h4{
		margin: 20px 0px;
	}
	.body_newLent{
		height: 305px;
	}
	nav ul li a{
		font-size: 13px;
	}
	nav ul{
		width: 100%;
		border-top: 3px solid #8e7f83;
		margin-top: 5px ;
		padding: 6px 0px ;
	}
	.navbar-collapse{
		padding-bottom: 6px;
	}
}


@media(max-width: 576px){
	.galleryProduct .items p{
		font-size: 29px;
		height: 60px;
	}
	.for_gallery .galleryProduct .bottom_text{
		height: 60px;
		padding-left: 10px;
		top: 70%;
		padding-right: 81px;
		background-size: 47px;
		background-position: 93% 31%;
	}
	.for_gallery .slider .bottom_text p{
		font-size: 29px;
		line-height: 1;
	}
	.for_gallery .slider .bottom_text{
		top: 73%;
		height: 55px;
    	 overflow-y: hidden;
    	background-size: 47px;
    	background-position: 97% 47%;
	}
	.galleryProduct{
		width: 100%;
	} 
	.galleryProduct .items{
		height: 270px;
		margin-bottom: 6px;
	}
	.first_block{
		margin-bottom: 20px;
	}
	.text-col{
		height: 38px;
	}
	.logo_img img{
		width: 60%;
		left: 21%;
		margin-top: 56px;
	}
	.bold{
		height: 26px;
	}
	#myCanvas{
	width: 70%; 
    display: block;
    margin: auto;
	}
	.webs{
		margin-top: 15px;
	} 
	.ucel img{
		width: 90%;
		display: block;
		margin-right: auto;
		margin-left:auto;
	}
	.newslenta{
		margin-top:0;
	}
	.advice_image img{
		width:80%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.small_img{
		margin-top:0px;
	}
	.for_gallery h4{
		margin-bottom: 0;
	}
	.for_news .col-12{ 
	}
	.advice .col-12{
		margin-bottom:20px;
	}
	.owl-nav{ 
		left: 78%;
		top: -240px;
	}
	.text_left_product{
		background-position: 0px -78px;
		margin-bottom: 20px;
		height: 170px;
	}
	.for_news .all{
		margin-bottom: 30px !important;
	}
	.product-elements .img_col img{
		width:112%;
	}
	.img_col p{
		font-size: 14px;
	}
	.txt_col .bold a{
		font-size: 16px;
	} 
	.pres img{
		margin-left:27%;
	}
	.centerSite .for_site .cont{
		padding-bottom: 20px;
	}
	.press .prs{
		padding: 30px 80px;
	}
	section{
		margin-top:20px;
	}
	.text_left_product p{
		font-size: 17px;
	}
	.logo_img img{
	width: 56%; 
    left: 23%;
    z-index: 20;
    margin-top: 60px;
    position: absolute;
	}
	.header_menu{
		margin-top: 35px;
	}
	.datasite{
		text-align: center;
	}
	.datasite > p{
		 width: 46%;
	}
	.topInfo span{
		font-size: 12px;
	}
}
@media(max-width: 500px){
	.text_left_product{
		background-position: 0px -49px;
	}
	#nuqtainazar .owl-carousel .owl-item img{
		width: 31%;
	}
	.for_gallery .galleryProduct .bottom_text{
		padding-right: 32px;
	}
	.galleryProduct .items p{ 
		font-size: 25px;
	}
	.for_gallery .galleryProduct .bottom_text{
		top: 73%;
	}
	.for_gallery .slider .bottom_text p{ 
		font-size: 24px;
		font-weight: 750;
	}
	.for_gallery .slider .bottom_text{
		top: 73 %;
	}
	.owl-nav{
		top:-218px;
	}
}

@media(max-width: 575px){
	.datasite > p{
		 width: 28%;
	}
}
@media(max-width: 450px){
	.press .prs{
		padding: 30px 20px;
	} 
	.centerSite #carouselExampleSlidesOnly .carousel-inner .text-img{
		padding-left: 9px;
		padding-bottom: 9px;
	}
	.centerSite #carouselExampleSlidesOnly .carousel-inner .text-img h2{
		font-size: 23px;
	}
	.centerSite #carouselExampleSlidesOnly .carousel-inner .text-img h4{
		font-size: 12px;
	}
	.centerSite #carouselExampleSlidesOnly .carousel-inner .text-img h2{
		top:74%;
	}
	.for_gallery .galleryProduct .bottom_text{
		top:72%;
	}
	.for_gallery .slider .items{
		height: 340px;
	}
	.logo_img img{
	width: 60%; 
    left: 21%;
    z-index: 20;
    margin-top: 56px;
    position: absolute;
	}
	.webs ul li a img{
		width: 80%;
	}
	
	.for_gallery .slider .bottom_text p{
		font-size: 17px;
	}
	.for_gallery .slider .bottom_text{
		top:77%;
	}
}

@media(max-width: 441px){
	.datasite > p{
		 width: 38%;
	}
	.for_gallery .slider .items{
		height: 277px;
	}
	.for_gallery .slider .bottom_text p{
		font-size: 24px;
	}
	.for_gallery .slider .bottom_text{
		height: 48px;
	}
	.galleryProduct .items{
		height: 235px;
	}
	.for_gallery .galleryProduct .bottom_text{
		height: 50px;
		top:68%;
		padding-right: 70px;
		background-position: 91% 31%;
	}
}


@media(max-width: 399px){
	.for_gallery .slider .items{
		height: 200px;
	}
	.for_gallery .slider .bottom_text{
		height: 42px;
		top:82%;
		background-position: 96% 12%;
		background-size: 34px;
	}
	.text_left_product{
		    background-position: 0px 0px;
	}
	.text_left_product h4 {
    margin: 7px 0px;
	}
	#nuqtainazar .owl-carousel .owl-item img{
		width: 15%;
	}
	.centerSite #carouselExampleSlidesOnly .carousel-inner .text-img h2{
		font-size: 20px;
	}
	.pres img{
		margin-left: 16%;
	}
	#myCanvas{
		width: 100%;
	}
	.owl-nav{
		left: 69%;
		top:-199px;
	}
	.rrr{
		width: 100%;
	}
	.logo_img img{
		width: 64%;
		left: 18%;
	}
}

@media(max-width: 380px){
	.for_gallery .slider .items{
		height: 170px;
	}
	.for_gallery .slider .bottom_text{
		height: 32px;
		top: 77%;
	}
	.for_gallery .galleryProduct .bottom_text{
		padding-left: 18px;
	}
	.for_gallery .slider .bottom_text p{
		font-size: 15px;
		height: 34px;
	}
	.galleryProduct .items{
		height: 170px;
	}
	.galleryProduct .items p{
		font-size: 16px;
		height: 33px;
	}
	.for_gallery .galleryProduct .bottom_text{
		height: 42px;
		top:74%;
		background-position: 90% 12%;
		background-size: 34px;
	}
	.pogoda-usd a{
		font-size: 11px;
		margin-left: 9px;
	}
}
 

 