body{  
    font-size: 14px;
    line-height: 1.42857143;
    color: #333; 

} 
@font-face{
    font-family: Open Sans;
    src: url("../fonts/opensans/OpenSans-Bold.ttf"); 
    font-weight: 750;
}
@font-face{
    font-family: Open Sans;
    src: url("../fonts/opensans/OpenSans-Regular.ttf"); 
    font-weight: 500;
}
@font-face{
    font-family: Open Sans;
    src: url("../fonts/opensans/OpenSans-Semibold.ttf"); 
    font-weight: 600;
}
.over{
    overflow: hidden;
} 
.top-img img{
    width: 100%;
    height: auto;
    vertical-align: middle;
    margin-top:20px;
}
a{
    color: #000;
    text-decoration: none;
    outline:none;
    cursor: pointer;
}
a:hover{
    text-decoration: none !important; 
}
 section{
    padding:0 !important;
 }
 section.for_gallery{
        margin-top: -60px;
    }
img{
    vertical-align: middle;
}
#demo{  

}
.left-plus-menu{
    width: 300px;
    transition: all 0.2s;
    position: fixed;
    top: 0;
    bottom: 0; 
    left:-300px; 
    z-index: 1002;
    display: inline-block;
    overflow: hidden;
    background: #b5aeae; 
    transition: .3s; 
    height: 100%; 
}
.left-plus-menu ul{
    padding: 0;
    padding-top: 30px;
}
.left-plus-menu ul li{
    list-style: none;
    display: block;
    width: 100%;
    padding: 5px 0px;
    margin-bottom: 6%;
}
.left-plus-menu ul li a{
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    color:#fff;
    margin: 5% 10%;
    font-family: 'Open Sans';

} 
#demo li:hover {
    background: #BBBBBB; 
}
.logo{
    width:100%;
    text-align: center;
    display: inline-block;
}
.todayDay span{
font-family: 'Open Sans';
margin-top:18px;
float:left;
font-size:12px;
color:#909090;
}
.logo_img{  
    margin-top:37px;
    display: inline-block;
} 
.webs{
    float: right; 
    margin-top:20px;
}
.webs ul{
    padding: 0;
    margin:0;
}
#myCanvas{ 
     width: 290px;
     height: 290px;
}
.webs ul li{
    display: inline-block;
}
.webs ul li a{
    display:block; 
}
button.plus-menu-tics{
    background: transparent;
    display: block;
    padding:13px 0px;
    cursor: pointer;
    border: 0;
}
.navbar-header{
    margin-right: -12px;
}
.plus-menu-tics span{
    width: 15px;
    display: block;
    height: 2px;
    background: #1a1919;
    margin-bottom: 3px;
}
.plus-menu-tics span:last-child{
    margin:0;
}
.header_menu{
    margin-top:10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #8e7f83;
}
.header_menu nav{
    margin: 0; 

}
nav ul li{
    float:left;
    display:block;
    margin-top:auto;
    margin-bottom: auto;
    position:relative;

}
nav ul li a{
    color:#36312e;
    font-size:14px; 
    font-family: 'Open Sans';
    font-weight: 700;
    padding: 12px 13px;
}
.af{
    background: #DA681C;
    padding: 6px 23px;
    color: #fff; 

     
}

.af a{
    color:#fff;
    font-weight: 700;
     font-family: 'Open Sans';
    padding:0;
    font-size: 12px;
    letter-spacing: 0.5px;
}
  
.container-2{
    right:0; 
    vertical-align: middle;
    white-space: nowrap;
    position: absolute;
  }
  .container-2 input#search{
      float:right !important;
    width: 33px;
    right:0;
    opacity: 0;
    height: 32px;
    border: 1px solid #F66C11;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 35px;
    color: #191919;
   
    -webkit-transition: width .55s ease;
  }
  .container-2 .icon{
    position: absolute;  
    z-index: 2;
    top:25%;
    right:1px;
    color: #F66C11;
    background: #fff;
  }
  .container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
    width: 129px;
    opacity: 1;
  }
  .container-2 span:hover ~ #search{
    width: 129px;
    opacity:1;

  }
  .container-2 #search:hover{
    width: 129px;
    opacity:1;
    }
  .pogoda-usd{
      width:100%;
      height: auto;
      padding:9 0 12 0; 
  }
.pogoda-usd span{
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 700;
}
.pogoda-usd a{
    font-family: arial;
    font-size: 12px;
    text-decoration:none;
    color:gray;
    margin-left:32px;
}
.centerSite{
    
}
.centerSite .for_site .cont{
    border-bottom: 3px solid #8e7f83;
    padding-bottom: 20px; 
}
.centerSite #carouselExampleSlidesOnly .carousel-inner img{
    width: 145%!important;
    height: auto;
    position: relative;
    left: -28%;
}
.centerSite #carouselExampleSlidesOnly .carousel-inner
.text-img{
    position: absolute;
    z-index: 100;
    left:0;
    bottom: 0;
    right: 0;
    padding-left: 27px;
    padding-bottom: 20px;
}
.rrr{
    width:90%;
    position: relative;
}
.centerSite #carouselExampleSlidesOnly .carousel-inner
.text-img h2{
    font-size: 35px;
    font-family: arial;
    font-weight: 700;
    color:#fff;
}
.centerSite #carouselExampleSlidesOnly .carousel-inner
.text-img h4{
    font-size:16px;
    font-family:arial;
    display: inline; 
    color:#fff; 
}
.podrobno{
    font-size: 13px;
    font-family: arial;
    font-weight: 700;
    color:#d96c22;
    display:inline;
}
.first_block {
    margin-bottom: 30px;
}
.for-img{
    position:relative;
}
.for-img img{
    width:100%;
    height:auto;
    margin-bottom: 15px;
    vertical-align: middle;
}
.text-col{
    margin-bottom: 5px;
}
.text-col p{
    font-family: arial;
    font-size: 16px;
    font-weight:700;
    color:#000;
    margin:0 0 10px;
    line-height: 1.2; 
    margin-bottom: 0;
    overflow: hidden;
}
.first_block span{
    color:#999999;
    font-weight: 700;
}
.text_left_product{
    color:#000;
    text-align: center;
    font-weight: bold;
    border: 1px solid #e6e6e6; 
    background: url(../img/megaphone.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.text_left_product h4{
    font-size:20px;
    margin-top:10px;
    color:inherit;
    text-align: center;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    color: inherit;
}
.text_left_product p{
    letter-spacing: -0.3;
    font-size: 15px;
    margin: 0 0 10px;
    text-align: center;
    font-family: arial;
    font-weight: 740;
    text-align: center; 
    margin-bottom: 20px;
}
.advice_image{
    margin-top:20px; 
}
.advice_image img{
    width: 100%;
    height: auto;
}
.for_news{
    padding-top:20px;
}
.product-elements{
    margin-top: 20px;
}
.for_news .container .row h4{
    padding-left: 7px;
    border-left: 2px solid #d96c22;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 19px; 
    display: inline; 
}
.for_news .container .row h4 a{
    color:#000;
}
.img_col{
    width:100%;
    overflow: hidden; 
}
.product-elements .img_col img{
    width: 100%;
    height: auto;
}
.txt_col{
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    padding-top: 0px;
}
.txt_col span:first-child{
    font-size: 13px;
    color: #999999;
    width: 100%;
    display: block;
    margin: 10px 0;
    margin-bottom: 10px;
    font-weight: 600;
}
.bold{
    height: 44px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 7px;
    display: inline-block;
    overflow: hidden;
    font-family: arial_bold, "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
}
.txt_col .bold a{ 
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    color:#000;
    font-size: 15px;
    }
.img_col p{
    font-size: 15px;
    color: #36312e;
    padding-right: 0;
    line-height: 1.2;
    margin: 0;
    font-family: arial;
    display: inline-block;
    font-weight: normal;
    margin-top: 0; 
    overflow: hidden;
}
.newsLent{
    margin-top: 15px;
}
.newsLent .header_col{
    padding: 0 15px;
    width: 100%;
    display: block;
}
.header_col h4{
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 18px;
    display: block;
    border-left: 3px solid #d96c22;
    padding-left: 7px;
    margin-top: 0;
}
.body_newLent{
    font-size: 15px;
    font-family: ArialRegular;
    overflow: auto;
    height: 390px;
    margin-top:20px;
    color: #999;
    overflow-y: scroll;
}
.body_newLent a{  
    margin-right: 5px;
    font-size: 15px;
    font-family: Arial;
    line-height: 1.3;
    overflow: auto;
    display: block;
    padding: 6px 10px;
    font-weight: 500;
    text-decoration: none;
    color: #8f8f8f;
    margin-top: 10px;
}
.body_newLent::-webkit-scrollbar{ 
           width: 5px;
    color: #d96c22;
}
.body_newLent::-webkit-scrollbar-thumb{
             border-radius: 10px;
    background: #d96c22;
}
.body_newLent a:hover{
    color:#d96c22;
    background: rgba(230,230,230,0.4);
}
.all{
    display:inline-block;
}
.all a{
    color: #999999;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #e6e6e6;
    padding: 4px 10px 7px 10px;
    display: inline-block;
    margin-top: 20px;
    transition: all .3s ease;
}
.ucel img{
    width:100%;
    height: auto;
}
.ucel {
    padding:0;
    margin-top:30px;
}
.slider_col{
    padding-left: 0;
    padding-right: 0;
    margin-top: 25px;
    width: 100%;
}
.topInfo{
    font-size: 15px;
    display: inline-block; 
    width: 100%;
}
.topInfo img{
    margin-right: 10px;
}
.persnone{
    margin-top:15px; 
    width:100%;
    margin-right: 10px; 
    display: inline-block;
}
.topInfo span {
    margin-top: 6px;
    display: inline-block;
}

.text_persone{
    margin-top: 13px;
    overflow-y: scroll;
    height: 40px;
}
.text_persone::-webkit-scrollbar{ 
    width: 2px; 
} 
.text_persone p{
      font-size: 12px;
      line-height: 1.7;
 }
 .for_gallery{
    padding-top: 20px;
 }
 .for_gallery h4{
    margin-bottom: 20px;
 }
 .for_gallery .owl-carousel .owl-item img{
    width:100%;
    height: auto;
 }
 .for_gallery .slider p{
    font-size: 25px;
    line-height: 30px;
    font-family: arial;
    font-weight: 740;
    color:#fff;
 }
 #nuqtainazar .owl-carousel .owl-item img{
    width: 21%;
    display: inline-block;
 }
 .text_persone p{
    padding-left: 16px;
    background-image: url("../img/quotes.png");
    background-repeat: no-repeat;
    display: block;
 }
  .owl-nav{
    width: 100px;
    position: relative;
    top: -356px;
    left: 90%; 
    padding: 0;
    z-index: 100;
 }
 .owl-nav button{
    padding: 5px 11px !important;
    background: #e6e6e6 !important;
    text-align: center;
 }
 .for_gallery .slider .items{
    height: 362px;
    overflow:hidden;
    cursor: pointer;
 }
.for_gallery .slider .bottom_text{ 
    position: absolute;
    z-index: 2;
    padding-right: 35px; 
    bottom: 0px;
    left:15px;
     background-image: url("../img/camera.png"); 
     background-repeat: no-repeat;
     background-position: 96% 50%;
}  
.galleryProduct{
    position: relative;
    display: inline-block;
    width:308px; 
}
.galleryProduct .items{ 
    height: 178px; 
    overflow:hidden;
}
.galleryProduct .items p{
    font-size: 14px;
    line-height: 19px;
    font-family: arial;
    font-weight: 740;
    display: inline-block;
    color:#fff;
}
.for_gallery .galleryProduct .bottom_text{ 
    position: absolute;
    width:100%;
    z-index: 2;
    padding-right: 57px;  
    bottom: 0px;
    left:15px;
     background-image: url("../img/camera1.png"); 
     background-repeat: no-repeat;
     background-position: 90% 50%;
}  
.advice{  
    padding-top: 20px;
}  
.advice .container .row h4{
    padding-left: 7px;
    border-left: 2px solid #d96c22;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 19px; 
    display: inline; 
}
.advice .container .row h4 a{
    color:#000;
}
.press .prs{
    color: #000;
    font-size: 13px;
    font-family: arial;
    font-weight: 700;
    padding: 30px 20px;
    display: block;
    border: 0.1px solid #e6e6e6;
    border-top: none;
}
.press a:hover{
    color: #d96c22;
}
.press{
    background: #fcfcfc;
    padding-left: 0 !important;
}
.pres{
    border: 0.1px solid #e6e6e6;
    background:#fcfcfc;

}    

footer .info{
    display: block;
    font-size: 13px;
}
.info p{
    color: #fff;
    padding-right: 50px;
    margin:0;
}
footer{
    margin-top: 30px;
    background: #36312e;
}
.footer_cols{
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #5f554f;
}
.f_menu{
    text-align: center;
    font-size: 13px;
    color: #fff;
}
.f_menu ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 7px;
}
.f_menu ul{
    padding: 0;
}
.f_menu ul li a{
    color: #fff;
}
.f_webs{
    padding: 0;
    text-align: center;
}
.f_webs ul{
    padding:0;
}
.f_webs ul li{
    display: inline-block;
}
.f_webs ul li a{
    margin-left: 5px;
}
.datasite p{
    color: #fff;
    font-size: 13px;
    margin-right: 10px;
    display: inline-block;
    width: 49%;
    padding:0;
    margin: 0;
    text-align: right;
    vertical-align: top;
}
.datasite img{
    width:100%;
    height: auto;
}
.datasite a
{
    color: #fff;
}
.bottom_text_footer{
    text-align: center;
    color: #fff;
    font-size: 13px;
    width:100%;
    margin-top: 13px;
    padding-bottom: 17px;
}
.bottom_text_footer p{
    margin:0;
}
.footer_cols a{
    transition: all 0.3s;
}

 

 body::-webkit-scrollbar {
    display: none;
}



element.style {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
}